<div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical menu">
      <div class="item">
        <div class="header">Getting Started</div>
        <div class="menu">
          {{link-to "Overview" "docs.overview" class="item"}}
          {{link-to "Installation" "docs.installation" class="item"}}
          {{link-to "Basic Use" "docs.basic-use" class="item"}}
        </div>
      </div>
      <div class="item">
        <div class="header">Overriding Defaults</div>
        <div class="menu">
          {{link-to "enableEditing" "docs.config-enable-editing" class="item"}}
          {{link-to "enableDeleting" "docs.config-enable-deleting" class="item"}}
          {{link-to "showDrawingLayer" "docs.config-show-drawing-layer" class="item"}}
          {{link-to "draw" "docs.config-draw" class="disabled item"}}
          {{link-to "edit" "docs.config-edit" class="disabled item"}}
          {{link-to "position" "docs.config-position" class="disabled item"}}
        </div>
      </div>
      <div class="item">
        <div class="header">Actions & Events</div>
        <div class="menu">
          <a class="disabled item">How Actions map to Events</a>
          <a class="disabled item">Available Actions</a>
          <a class="disabled item">Working with Actions</a>
        </div>
      </div>
      <div class="item">
        <div class="header">Leaflet.Draw Plugin</div>
        <div class="menu">
          <a class="disabled item">How to use the Docs</a>
          <a class="item" href="https://leaflet.github.io/Leaflet.draw/docs/leaflet-draw-latest.html" target="_blank">Leaflet.Draw Documentation</a>
        </div>
      </div>
    </div>
  </div>
  <div class="twelve wide column">
    <div class="ui raised segment">
      {{outlet}}
    </div>
  </div>
</div>
